/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map_location {
        height: 300x;
        
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
element.style {
        position: inherit;
        overflow: scroll;
}
      